 body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

.nlink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 }

 .portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-content:center;
 }

 footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: auto;
  padding: 1.5rem;
 }

 .skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: auto;
  padding: 1.5rem;
 }


 /* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
   }
  
   nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
   }
  
  .name {
    display:inline;
   }
  
  .nlink {
    display: inline;
   }
  
   header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 50%;
   }

   .intro {
    order: -1;
   }

   .portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items:flex-start;
   }

   .work {
    flex-basis: 50%;
   }

   .skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items:flex-start;
   }

   .skilltype {
    flex-basis: 33%;
   }

}
@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
   }
  
   nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
   }
  
  .name {
    display:inline;
   }
  
  .nlink {
    display: inline;
   }
  
   header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   }

   .intro {
    order: -1;
    flex: 1;
   }

   .profile-image {
    flex: 1;

   }

   .portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items:flex-start;
   }

   .skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items:flex-start;
   }

   .skilltype {
    flex-basis: 33%;
   }

   .work {
    flex-basis: 33%;
   }

}