 body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

.nlink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 }

 portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-content:center;
 }

 footer {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  align-content:center;
  margin:auto;
  padding: 1.5rem;
 }



 
 
 
 
 /* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
  nav {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
  
   }

}
@media (min-width: 1024px) {
  nav {
    display: flex;
    flex-direction: row;
    flex: 1;
  
   }
       
      
      
       
}