/* ================================= 
  Page Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
 font-family: 'Noto Sans', sans-serif;
 color:rgb(73, 73, 73); 
 background:rgb(255, 255, 255);
 margin: 0;
}

header {
 background-color: lightgray;
 padding: 2rem;

}

ul {
    margin: 5px;
    padding: 0;
    list-style: none;
    width: 100%;
  }
  p {
      font-size: .95em;
      margin-bottom: 1.8em;
  }
  h2,
  h3,
  a {
      color: rgb(44, 44, 44);
  }
  h2,
  h3 {
      margin-top: 0;
  }
  a {
      text-decoration: none;
      font-size: 1.25rem;
  }
  img {
      max-width: 100%;
      padding: 20px;
  }

  /* ---- Navigation ---- */

nav {
    width: 100%;
}

.nlink {
    box-shadow: 0 10px 20px -10px rgba(0,0,0,0.4);
    padding:10px;
    margin: 10px;
}

.name {
    padding: 15px;
}


   

  /* ---- Layout Containers ---- */

  /* ---- Page Elements ---- */

  /* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {}
@media (min-width: 1024px) {}

